.button {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  background-color: #fff;
}

.button.primary {
  background-color: rgba(51,102,203,1);
  color: #fff;
}

.button[disabled] {
  background: #eee;
  color: #666;
  pointer-events: none;
}
