.grid-container {
  flex: 1;
  overflow: auto;
}

.grid-container .grid-item-container {
  padding: 1em;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
}

.grid-container .no-item-found {
  margin: 1em;
}

.grid-container .grid-item-container:hover {
  background: #dfdfdf;
}

.grid-container .grid-item-container span {
  font-weight: bold;
}

.grid-container .grid-item-container p {
  font-size: 0.8em;
  margin-bottom: 0;
}
