.loading-indicator.linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}

.loading-indicator.linear div {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.loading-indicator.linear div:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}

.loading-indicator.linear div:nth-child(2) {
  background-color: #fdba2c;
  animation: loading 3s linear 1s infinite;
}

.loading-indicator.linear div:nth-child(3) {
  background-color: #094420;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index:100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
